<div id="<%= dom_id movie %>" class="card">
  <div class="card-header">
    <div>
      <div class="card-title"><%= movie.title %></div>
      <div class="card-subtitle"><%= movie.release_year %></div>
    </div>
    <% if movie.genre.present? %>
      <span class="badge badge-default"><%= movie.genre %></span>
    <% end %>
  </div>
  <% if movie.synopsis.present? %>
    <div class="card-body"><%= movie.synopsis %></div>
  <% end %>
  <div class="card-footer">
    <%= link_to "Show", movie, class: "btn btn-accent btn-sm" %>
    <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-outline btn-sm" %>
    <%= button_to "Destroy", movie, method: :delete, class: "btn btn-danger btn-sm", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
